<!DOCTYPE html>
<html>
<head>
    <title>PruebasAngular</title>
	<meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Angular -->
    <script src="Scripts/angular.js"></script> <!-- TODO importarlos de fuente externa -->
    <script src="app.js"></script>
    <script src="controllers/CharacterGeneratorController.js"></script>
</head>
<body>
    <header></header>
    <main ng-app="myApp">
        <div ng-controller="CharacterGeneratorController">
            <!-- Formulario con campos que debe introducir el usuario para generar personaje -->
            <form class="form-inline" ng-submit="generateNPC()">
                <!-- Raza del personaje -->
                <div id="raza" class="form-group">
                    <label for="raze">Raza:</label>
                    <select name="raze" ng-model="raze" required>
                        <!--TODO Deberia cargarlo por AJAX -->
                        <option value="1">Elfo</option>
                        <option value="2">Humano</option>
                    </select>
                </div>
                <!-- Clase del PNJ -->
                <div id="claseNPC" class="form-group">
                    <label for="claseNPC">Clase:</label>
                    <select name="claseNPC" ng-model="classNPC" required>
                        <!--TODO Deberia cargarlo por AJAX -->
                        <option value="1">Guerrero</option>
                        <option value="2">Clérigo</option>
                    </select>
                </div> 
                <!-- Rol del PNJ -->
                <!--<div id="roleNPC" class="form-group">
                    <label for="roleNPC">Rol:</label>
                    <select name="roleNPC" ng-model="role" required>
                  
                    </select>
                </div> -->
                <div id="levelOfNPC" class="form-group">
                    <label for="levelOfNPC">Nivel:</label>
                    <!--TODO max por el momento es 1 pero ´habrá que ir aumentandolo hasta 5 -->
                    <input type="number" ng-model="level" min="1" max="1" required/>
                </div> 

                <input id="generarNPC" type="submit" />
            </form>

        </div>
    </main>
</body>

</html>
